@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.service{
    color: #000;
}

.home{
    background-color: rgb(63, 63, 63);
}

.contact{
    background-color: #313131;
    display: flex;
}



